# Visual Studio Build Folders
.vs/
x64/
Debug/
Release/
*.user
*.aps
*.pcc

# Python temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

# YOLO/Machine Learning weights (they are too big for GitHub)
*.pt
*.onnx
